---
layout: listing
---
<header>
    <h1 id="title">
        <svg id="logo" width="180" height="180" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <path d="M 170,10 l 10,-10" style="stroke: #758; stroke-width: 2px" />
            <path d="M 10,170 l -10,10" style="stroke: #758; stroke-width: 2px" />
            <polygon points="65,65 165,165 15,165 15,115" style="fill: #758" />
            <polygon points="15,15 115,115 107,122" style="fill: rgba(0, 0, 0, .3);" />
            <polygon points="15,15 165,15 165,65 115,115" style="fill: #b3A1bc" />
        </svg>
    </h1>
    <a href="/tag" class="link-tags"><span>Tags</span></a>
    <div id="bg" class="page-generic"></div>
</header>

<section class="articles">
    {% for post in site.posts limit:5 %}

    {% assign monthNum = post.date | date: "%-m" %}
    {% assign month = '' %}
    {% case monthNum %}
      {% when '1' %}{% assign month = 'Janvier' %}
      {% when '2' %}{% assign month = 'Février' %}
      {% when '3' %}{% assign month = 'Mars' %}
      {% when '4' %}{% assign month = 'Avril' %}
      {% when '5' %}{% assign month = 'Mai' %}
      {% when '6' %}{% assign month = 'Juin' %}
      {% when '7' %}{% assign month = 'Juillet' %}
      {% when '8' %}{% assign month = 'Août' %}
      {% when '9' %}{% assign month = 'Septembre' %}
      {% when '10' %}{% assign month = 'Octobre' %}
      {% when '11' %}{% assign month = 'Novembre' %}
      {% when '12' %}{% assign month = 'Décembre' %}
    {% endcase %}

    <article data-color="{{ post.tags | first }}">
        <aside>
            <p class="date">{{ post.date | date: "%d " }}{{ month }}{{ post.date | date: " %Y" }}</p>

            {% if post.update %}

            {% assign updateMonthNum = update.date | date: "%-m" %}
            {% assign updateMonth = '' %}
            {% case updateMonthNum %}
              {% when '1' %}{% assign updateMonth = 'Janvier' %}
              {% when '2' %}{% assign updateMonth = 'Février' %}
              {% when '3' %}{% assign updateMonth = 'Mars' %}
              {% when '4' %}{% assign updateMonth = 'Avril' %}
              {% when '5' %}{% assign updateMonth = 'Mai' %}
              {% when '6' %}{% assign updateMonth = 'Juin' %}
              {% when '7' %}{% assign updateMonth = 'Juillet' %}
              {% when '8' %}{% assign updateMonth = 'Août' %}
              {% when '9' %}{% assign updateMonth = 'Septembre' %}
              {% when '10' %}{% assign updateMonth = 'Octobre' %}
              {% when '11' %}{% assign updateMonth = 'Novembre' %}
              {% when '12' %}{% assign updateMonth = 'Décembre' %}
            {% endcase %}

            <p class="update"><label>Mise à jour :</label> {{ post.update | date: "%d " }}{{ updateMonth }}{{ post.update | date: " %Y" }}</p>
            {% endif %}

            <div class="article-preview">
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                {{ post.description }}
            </div>

            {% if post.tags %}
            <ul class="tags">
            {% for tag in post.tags %}
                <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
        </aside>

    </article>
    {% endfor %}
</section>
<div class="loader"></div>