---
layout: listing
---
<header>
  <h1 id="title">
    <svg id="logo" xmlns="http://www.w3.org/2000/svg" height="150" width="150" viewBox="0 0 100 100" version="1.1" stroke-width="3" stroke-linecap="round" fill="transparent">
      <defs>
        <linearGradient id="gradient" x1="0" x2="0" y1="0" y2="1">
          <stop offset="0%" stop-color="#02c39a"></stop>
          <stop offset="33%" stop-color="#00a896"></stop>
          <stop offset="66%" stop-color="#028090"></stop>
          <stop offset="100%" stop-color="#075675"></stop>
        </linearGradient>
      </defs>
      <g stroke="url(#gradient)">
        <circle cx="50" cy="49" r="47"></circle>
        <path d="m35.66,26.26c23.73,23.73 23.73,23.73 23.73,23.73c3.95,3.95 11.86,3.95 15.82,0c3.95,-3.95 3.95,-11.86 0,-15.82c-3.95,-3.95 -11.86,-3.95 -15.82,0c-23.73,23.73 -23.73,23.73 -23.73,23.73c-3.95,3.95 -11.86,3.95 -15.82,0c-3.95,-3.95 -3.95,-11.86 0,-15.82c3.95,-3.95 11.86,-3.95 15.82,0c23.73,23.73 23.73,23.73 23.73,23.73m-23.98,8.16l47.71,-47.71"></path>
      </g>
    </svg>
    <span>Le blog</span>
  </h1>
  <a href="/tag" class="link-header"><span>Tags</span></a>
  <a href="/recherche" class="link-header"><span>Recherche</span></a>
</header>

<section class="articles">
  {% for post in site.posts limit:5 %}

  {% assign monthNum = post.date | date: "%-m" %}
  {% assign month = '' %}
  {% case monthNum %}
    {% when '1' %}{% assign month = 'Janvier' %}
    {% when '2' %}{% assign month = 'Février' %}
    {% when '3' %}{% assign month = 'Mars' %}
    {% when '4' %}{% assign month = 'Avril' %}
    {% when '5' %}{% assign month = 'Mai' %}
    {% when '6' %}{% assign month = 'Juin' %}
    {% when '7' %}{% assign month = 'Juillet' %}
    {% when '8' %}{% assign month = 'Août' %}
    {% when '9' %}{% assign month = 'Septembre' %}
    {% when '10' %}{% assign month = 'Octobre' %}
    {% when '11' %}{% assign month = 'Novembre' %}
    {% when '12' %}{% assign month = 'Décembre' %}
  {% endcase %}

  <article class="c-{{ post.tags | first }}">
    <aside>
      <p class="date">{{ post.date | date: "%d " }}{{ month }}{{ post.date | date: " %Y" }}</p>

      {% if post.update %}

      {% assign updateMonthNum = post.update | date: "%-m" %}
      {% assign updateMonth = '' %}
      {% case updateMonthNum %}
        {% when '1' %}{% assign updateMonth = 'Janvier' %}
        {% when '2' %}{% assign updateMonth = 'Février' %}
        {% when '3' %}{% assign updateMonth = 'Mars' %}
        {% when '4' %}{% assign updateMonth = 'Avril' %}
        {% when '5' %}{% assign updateMonth = 'Mai' %}
        {% when '6' %}{% assign updateMonth = 'Juin' %}
        {% when '7' %}{% assign updateMonth = 'Juillet' %}
        {% when '8' %}{% assign updateMonth = 'Août' %}
        {% when '9' %}{% assign updateMonth = 'Septembre' %}
        {% when '10' %}{% assign updateMonth = 'Octobre' %}
        {% when '11' %}{% assign updateMonth = 'Novembre' %}
        {% when '12' %}{% assign updateMonth = 'Décembre' %}
      {% endcase %}

      <p class="update"><label>Mise à jour :</label> {{ post.update | date: "%d " }}{{ updateMonth }}{{ post.update | date: " %Y" }}</p>
      {% endif %}

      <div class="article-preview">
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        {{ post.description }}
      </div>

      {% if post.tags %}
      <ul class="tags">
      {% for tag in post.tags %}
        <li><a href="/tag/{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
    </aside>

  </article>
  {% endfor %}
</section>
<div class="loader"></div>
