---
layout: listing
---
<header>
    <h1 id="title">{{ site.title }}</h1>
    <a href="/" class="home"><span>Accueil</span></a>
    <canvas id="bg"></canvas>
</header>

<section class="articles">
    {% for post in site.posts limit:5 %}
    <article data-color="{{ post.tags | first }}">
        <aside>
            <p class="date">{{ post.date | localize: "%d %B %Y" }}</p>

            {% if post.update %}
            <p class="update"><label>Mise à jour :</label> {{ post.update | date: "%d %B %Y" }}</p>
            {% endif %}

            <div class="article-preview">
                <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
                {{ post.description }}
            </div>

            {% if post.tags %}
            <ul class="tags">
            {% for tag in post.tags %}
                <li><a href="/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
        </aside>

    </article>
    {% endfor %}
</section>
<div class="loader"></div>