@charset "utf-8";

body > footer {
    width: 100%;
    background: $white;
    padding-bottom: 80px;

    @at-root #partager-block {
        display: flex;
        position: relative;
        justify-content: flex-end;
        line-height: 120px;
        margin: $section_padding auto;
        color: $white;
        max-width: $content_width + (2 * $content_padding);
        padding: 0 $content_padding;

        &:before {
            content: '';
            position: absolute;
            width: 100vw;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: $grey_dark;
            z-index: 1;
        }

        h2{
            margin-right: auto;
            z-index: 2;

            &:before {
                content: none;
            }
        }
        > a {
            background: $grey_dark;
            color: $white;
            text-decoration: none;
            float: left;
            font-size: 120%;
            margin-right: 25px;
            padding: 0 30px;
            text-align: center;
            position: relative;
            transition: all .4s;
            z-index: 2;

            &:before {
                border-left: 20px solid transparent;
                border-right: 0px solid transparent;
                border-bottom: 120px solid transparent;
                content: "";
                left: -20px;
                position: absolute;
                top: 0;
                transition: all .4s;
            }
            &:after {
                border-left: 0px solid transparent;
                border-right: 20px solid transparent;
                border-top: 120px solid transparent;
                content: "";
                position: absolute;
                right: -20px;
                top: 0;
                width: 0;
                transition: all .4s;
            }
            &:hover,
            &:focus {
                color: $grey_dark;

                @each $tag, $color in $colors {
                    body[data-color="#{$tag}"] & {
                        background: $color;

                        &:before,
                        &:after {
                            border-top-color: $color;
                            border-bottom-color: $color;
                        }
                    }
                }
            }
        }
    }

    @at-root #commentaires-block {
        padding: ($section_padding / 2) 0 ($section_padding * 2);
        margin: $section_padding auto 0;
        max-width: $content_width + (2 * $content_padding);
        padding: 0 $content_padding;

        h2 {
            margin-bottom: $section_padding;

            &:before {
                content: none;
            }
        }
    }
}