@charset "utf-8";

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  color: $white;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid $grey;

  [data-color="default"] & {
    color: $defaultcolor;
  }

  h1 {
    position: relative;
    font-size: 60px;
    width: $content_width;
    padding: ($content_padding * 2) 0;
    margin: 0 auto;
    min-height: $header_height;
    z-index: 2;
    transition: all $transition_header;

    #logo {
      margin: 0 auto;
    }
  }
  .link-home,
  .link-tags {
    position: fixed;
    top: $content_padding / 2;
    left: $content_padding / 2;
    color: $white;
    text-decoration: none;
    font-size: 14px;
    line-height: $font_size;
    z-index: 2;

    [data-color="default"] & {
      color: $defaultcolor;
    }

    &:before {
      content: "◄";
      opacity: 0.5;
      transition: all .4s;
    }
    span {
      transition: all .4s;
      padding-left: 30px;
      opacity: 0;
    }
    &:hover,
    &:focus {
      span {
        padding-left: 10px;
        opacity: 1;
      }
      &:before {
        opacity: 1;
      }
    }
  }
  .link-tags {
    &:before {
      content: "■";
    }
  }
  #bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: $white;

    @each $tag, $color in $colors {
        body[data-color="#{$tag}"] & {
            background: radial-gradient(ellipse at center, $color 0%, darken($color, 50%) 100%);
        }
    }

  }

  &.sticky,
  &.always-sticky {
    h1 {
      font-size: $font_size;
      min-height: $font_size;
      padding: ($content_padding / 2) 0;
    }
  }
  &.always-sticky + .articles {
    padding-top: $content_padding + $logo_height;
  }
}