@charset "utf-8";

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 100px;
  color: $white;

  h1 {
    position: relative;
    font-size: 30px;
    padding: ($content_padding * 2) ($content_padding / 2);
    margin: 0 auto;
    min-height: $header_height;
    z-index: 2;
    transition: all $transition_header;

    [data-color="default"] & {
      color: $defaultcolor_dark;
    }

    #logo {
      margin: 0 auto;
      transition: all $transition_header;

      @include media($until: tablet) {
        margin: 0 -80px;
        transform: scale(0.7);
      }
    }

    span {
      display: block;
    }
    @include media($from: tablet) {
      font-size: 60px;
      padding: ($content_padding * 2) $content_padding;
    }
  }
  .link-home,
  .link-tags {
    position: fixed;
    top: 0;
    left: 0;
    padding: ($body_padding - $font_size) / 2;
    margin: 0 $body_padding;
    border-bottom: 1px solid $grey_light;
    color: $grey_dark;
    background: $white;
    box-shadow: -$body_padding 0 $white, $body_padding 0 $white;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    line-height: $font_size;
    width: calc(100vw - #{$body_padding} * 2);
    z-index: 90;
    transition: all .4s;

    span {
      opacity: 0.5;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}