@charset "utf-8";

$colors: (
  "js": #feda3e,
  "css": #cc6698,
  "html": #0869ad,
  "sql": #7A86b8,
  "php": #f05133,
  "sass": #ef0e39,

  "drupal": #ff8300,
  "wordpress": #2aa9e0,
  "prestashop": #71bf45,

  "apache": #9e79d7,
  "bash": #9e79d7,
  "bootstrap": #9e79d7,
  "chrome": #9e79d7,
  "flash": #9e79d7,
  "git": #9e79d7,
  "mathematiques": #9e79d7,
  "news": #9e79d7,
  "opera": #9e79d7,
  "regex": #9e79d7,
  "software": #9e79d7,
  "sublime-text": #9e79d7,
  "svg": #9e79d7,
);
$defaultcolor: #7A86b8;

$white:        #fff;
$grey:         #bbb;
$grey_light:   #eee;
$grey_dark:    #333;

$header_height:   250px;
$content_width:   800px;
$content_padding: 50px;
$section_padding: 40px;
$tag_height:      40px;
$tag_width:       100px;
$font_size:       22px;

@each $tag, $color in $colors {
  body[data-color="#{$tag}"] {
    color: $color;
    background-color: darken($color, 50%);

    ::selection,
    .tags li a:hover,
    .tags li a:focus {
      color: $color;
    }
    p, li {
      a:hover,
      a:focus {
        color: $color;
        box-shadow:
            inset 0 -23px $white,
            inset 0 -25px $color;
      }
    }

    #partager-block {
      > a {
        &:hover,
        &:focus {
          background: $color;

          &:before,
          &:after {
            border-top-color: $color;
            border-bottom-color: $color;
          }
        }
      }
    }
  }
}

* { box-sizing: border-box; outline: none; }
body {
  font-size: $font_size;
  font-family: "Source Sans Pro ExtraLight", "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}
.page-content {
  color: $grey_dark;
  background: $white;
}
header {
  color: $white;
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid $grey;

  h1 {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 60px;
    width: $content_width;
    padding: ($content_padding * 2) $content_padding;
    margin: 0 auto;
    min-height: $header_height;
    z-index: 2;
    transition: all .2s;
  }
  .home {
    position: fixed;
    top: $content_padding / 2;
    left: $content_padding / 2;
    color: $white;
    text-decoration: none;
    font-size: 14px;
    line-height: $font_size;
    z-index: 2;

    &:before {
      content: '◄';
      opacity: 0.5;
      transition: all .4s;
    }
    span {
      transition: all .4s;
      padding-left: 30px;
      opacity: 0;
    }
    &:hover,
    &:focus {
      span {
        padding-left: 10px;
        opacity: 1;
      }
      &:before {
        opacity: 1;
      }
    }
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;

     h1 {
       font-size: $font_size;
       min-height: $font_size;
       padding: ($content_padding / 2) 0;
     }
     + article {
       margin-top: ($content_padding + $font_size) * 2;
     }
  }
}
::selection {
  background: $grey_dark;
}
article {
  width: 100%;
  max-width: $content_width + $content_padding * 2;
  margin: 0 auto;
  padding: $content_padding;
  line-height: 1.5;

  ul {
    list-style: outside disc;
    padding-left: $section_padding;
    margin: ($section_padding / 2) 0;
  }

  aside {
    margin-bottom: $content_padding;
    overflow: hidden;
    text-align: center;

    .date {
      color: $grey;
      margin: 0 auto;

      &:before,
      &:after {
        content: '';
        display: inline-block;
        width: $content_width / 6;
        height: 1px;
        margin: 0 10px 6px;
        background: $grey_light;
      }
    }
    .update {
      font-size: 80%;
      color: $grey;
      margin-top: 0;
    }
    .tags {
      list-style-type: none;
      padding: 0;
      font-size: 0;
      text-align: center;

      li {
        display: inline;
        font-size: $font_size;
        margin: 0 5px;

        a {
          text-decoration: none;
          color: $grey;
          font-size: 80%;
          padding: 2px 8px;
          border: 1px solid;

          &:hover,
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
  .intro {
    margin-top: $content_padding;
    font-weight: 600;
    text-align: center;
  }
  img,
  iframe {
    width: $content_width;
  }
}
body > footer {
  width: 100%;
  max-width: $content_width + (2 * $content_padding);
  margin: 0 auto;
  padding: 0 $content_padding;
}
h2 {
  font-weight: 800;
  font-size: 180%;

  &:before {
    content: '';
    display: block;
    width: $content_width / 4;
    height: 1px;
    background: $grey_light;
    margin: $section_padding auto ($section_padding / 2);
  }
}
h3 {
  font-weight: 800;
  font-size: 140%;
}
h4 {
  font-style: italic;
  font-weight: 800;
  line-height: 2;
}
h3, h4 {
  margin-top: ($section_padding / 2);
}
h2 + h3,
h2 + h4,
h3 + h4 {
  margin-top: 0;
}
h2, h3, h4 {
  position: relative;

  a {
    position: absolute;
    bottom: ($content_padding + $font_size) * 2;
    left: 0;

    &:before {
      content: '§';
      position: absolute;
      color: $grey;
      left: $section_padding * -1;
      padding-right: $content_width;
      bottom: -($content_padding + $font_size) * 2;
      text-decoration: none;
      font-style: normal;
      opacity: 0;
      transition: opacity .3s;
    }

  }
  &:hover {
    a:before {
      opacity: 1;
    }
  }
}
p {
  margin: ($section_padding / 2) 0;
}
p, li {
  a {
    position: relative;
    color: inherit;
    white-space: nowrap;
    transition: all .3s;
  }
}
code {
  display: inline;
  padding: 0 4px;
  background: $grey_light;
}
pre {
  display: block;
  position: relative;
  margin: $section_padding 0;
  padding: $section_padding 0;
  color: $white;

  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $grey_dark;
    z-index: 1;
  }
   &:after {
    content: '//';
    font-size: 55px;
    font-weight: 900;
    position: absolute;
    color: $grey_light;
    top: 20px;
    left: $section_padding * -2;
    margin-left: 15px;
    line-height: 1;
    z-index: 2;
  }

  code {
    display: block;
    position: relative;
    padding: 0;
    background: inherit;
    z-index: 2;
  }
}
blockquote {
  display: block;
  position: relative;
  margin: $section_padding 0;
  padding: $section_padding 0;

  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $grey_light;
    z-index: 1;
  }
  &:after {
    content: '“';
    font-size: 200px;
    position: absolute;
    top: 0;
    left: $section_padding * -2;
    line-height: 1;
    z-index: 2;
  }
  p,
  em {
    position: relative;
    margin: 0;
    z-index: 2;
  }
  em {
    color: $grey;

    &:before {
      content: '—';
      display: inline-block;
      margin-right: 6px;
    }
  }
}

#partager-block {
  display: flex;
  position: relative;
  justify-content: flex-end;
  line-height: 120px;
  margin: $section_padding 0;
  color: $white;

  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $grey_dark;
    z-index: 1;
  }

  h2{
    margin-right: auto;
    z-index: 2;

    &:before {
      content: none;
    }
  }
  > a {
    background: $grey_dark;
    color: $white;
    text-decoration: none;
    float: left;
    font-size: 120%;
    margin-right: 25px;
    padding: 0 30px;
    text-align: center;
    position: relative;
    transition: all .4s;
    z-index: 2;

    &:before {
      border-left: 20px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 120px solid transparent;
      content: "";
      left: -20px;
      position: absolute;
      top: 0;
      transition: all .4s;
    }
    &:after {
      border-left: 0px solid transparent;
      border-right: 20px solid transparent;
      border-top: 120px solid transparent;
      content: "";
      position: absolute;
      right: -20px;
      top: 0;
      width: 0;
      transition: all .4s;
    }
    &:hover,
    &:focus {
      color: $grey_dark;
    }
  }
}
#commentaires-block {
  padding: ($section_padding / 2) 0 ($section_padding * 2);
  margin: $section_padding 0 0;

  h2 {
    margin-bottom: $section_padding;

    &:before {
      content: none;
    }
  }
}
