@charset "utf-8";

section.articles {
	width: 100%;
	padding: $content_padding 0;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;

	@include media($from: tablet) {
		width: map-get($content_width, tablet);
	}
	@include media($from: desktop) {
		width: map-get($content_width, desktop);
	}

	article {
		padding-top: 0;

		h2 {
			display: block;
			text-align: center;
			margin: ($section_padding / 2) 0;

			a {
				position: relative;
				text-decoration: none;
				top: 0;
				transition: opacity .3s;

				&:before {
					content: none;
				}
				&:hover,
				&:focus {
					opacity: .7;
				}
			}
			&:before {
				content: none;
			}
		}
		@each $tag, $color in $colors {
			&[data-color="#{$tag}"] h2 a {
				color: $color;
			}
		}

		.article-preview {
			display: block;
			text-align: center;
		}
		.article-content {
			display: none;
		}
	}
}
section.tags {
	width: 100%;
	min-height: 100vh;
	padding: $content_padding $tag_padding;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-between;
	margin: 0 auto;

	@include media($from: tablet) {
		padding: $content_padding 0;
		width: map-get($content_width, tablet);
	}
	@include media($from: desktop) {
		width: map-get($content_width, desktop);
	}

    > a {
    	flex-grow: 1;
    	color: $grey;
		padding: $tag_padding;
		margin: $tag_padding / 4;
		line-height: $font_size;
		text-align: center;
		box-shadow: inset 0 0 0 1px $grey;
		text-decoration: none;

		@each $tag, $color in $colors {
			&[data-color="#{$tag}"] {
				&:hover,
				&:focus {
					color: $color;
					box-shadow: inset 0 0 0 2px $color;
				}
			}
		}
    }
    &:after {
    	content: '';
    	flex-grow: 99999;
    }
}
.loader {
	&.end {
		&:before {
			content: "Bienvenue en bas de la page !";
			display: block;
			margin: 0 auto;
			padding: ($content_padding * 2) 0;
			text-align: center;
			color: $grey;
		}
	}
}