@charset "utf-8";

* {
    box-sizing: border-box;
    outline: none;
}

body {
    @extend %font-light;
    font-size: $font_size;
    overflow-x: hidden;
}

#canvas {
    position: fixed;
    top: $body_padding;
    left: $body_padding;
    pointer-events: none;

    polygon {
        display: none;

        &.visible {
            display: block;
        }
    }
    rect {
        fill: $white;

        @each $tag, $color in $colors {
            body[data-color="#{$tag}"] & {
                fill: $color;
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        box-shadow: inset 0 0 0 30px $white;
        height: 100vh;
        width: 100vw;
        z-index: 80;
        pointer-events: none;
    }
}

a {
    color: $grey_dark;
}

.page-content {
    color: $grey_dark;
    background: $white;
}

::-moz-selection {
    background: $grey_dark;

    @each $tag, $color in $colors {
        [data-color="#{$tag}"] & {
            color: $color;
        }
    }

}

::selection {
    background: $grey_dark;

    @each $tag, $color in $colors {
        [data-color="#{$tag}"] & {
            color: $color;
        }
    }

}

h2 {
    @extend %font-regular;
    font-size: 150%;

    &:before {
        content: '';
        display: block;
        width: map-get($content_width, desktop) / 4;
        height: 1px;
        background: $grey_light;
        margin: $section_padding auto ($section_padding / 2);
    }
    @include media($from: tablet) {
        font-size: 180%;
    }
}
h3 {
    @extend %font-regular;
    font-size: 110%;

    @include media($from: tablet) {
        font-size: 140%;
    }
}
h4 {
    @extend %font-regular;
    font-style: italic;
    line-height: 2;
}
h3, h4 {
    margin-top: ($section_padding / 2);
}
h2 + h3,
h2 + h4,
h3 + h4 {
    margin-top: 0;
}
h2, h3, h4 {
    position: relative;

    a {
        position: absolute;
        top: -$section_padding;
        left: 0;

        &:before {
            position: absolute;
            color: $grey;
            left: $section_padding * -1;
            top: $section_padding;
            padding-right: map-get($content_width, desktop);
            text-decoration: none;
            font-style: normal;
            opacity: 0;
            -webkit-transition: opacity .3s;
            transition: opacity .3s;

            @include media($from: tablet) {
                content: "§";
            }
        }

    }
    &:hover {
        a:before {
            opacity: 1;
        }
    }
}
h2 a:before {
    top: $section_padding + $font_size;
}
p {
    margin: ($section_padding / 2) 0;
}
p, li {
    a {
        position: relative;
        color: inherit;
        -webkit-transition: all .3s;
        transition: all .3s;

        @each $tag, $color in $colors {
            [data-color="#{$tag}"] & {
                &:hover,
                &:focus {
                    color: $color;
                    box-shadow:
                    inset 0 -23px $white,
                    inset 0 -25px $color;
                }
            }
        }
        @include media($from: tablet) {
            white-space: nowrap;
        }
    }
}
code {
    @extend %font-code;
    font-size: 0.8em;
    display: inline;
    padding: 0 4px;
    background: $grey_light;

    @include media($until: tablet) {
        word-wrap: break-word;
    }
}
pre {
    @extend %font-code;
    display: block;
    position: relative;
    margin: $section_padding 0;
    padding: $section_padding 0;
    color: $white;

    &:before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background: $grey_dark;
        z-index: 1;
    }
    &:after {
        @extend %font-regular;
        content: '//';
        font-size: 28px;
        position: absolute;
        top: 40px;
        left: -50px;
        color: $grey_light;
        margin-left: 15px;
        line-height: 1;
        z-index: 2;

        @include media($from: tablet) {
            font-size: 55px;
            top: 20px;
            left: $section_padding * -2;
        }
    }

    code {
        display: block;
        position: relative;
        padding: 0;
        background: inherit;
        z-index: 2;
        overflow: auto;

        @include media($until: tablet) {
            word-wrap: normal;
        }
    }
}
blockquote {
    display: block;
    position: relative;
    margin: $section_padding 0;
    padding: $section_padding 0;

    &:before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background: $grey_light;
        z-index: 1;
    }
    &:after {
        content: '“';
        font-size: 200px;
        position: absolute;
        top: 0;
        left: $section_padding * -2;
        line-height: 1;
        z-index: 2;
    }
    p,
    em {
        position: relative;
        margin: 0;
        z-index: 2;
    }
    em {
        color: $grey;

        &:before {
            content: '—';
            display: inline-block;
            margin-right: 6px;
        }
    }
}
kbd {
    background-color: $grey_light;
    border: 1px solid $grey;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px $white inset;
    color: $grey_dark;
    display: inline-block;
    font-size: 80%;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .1em .5em;
    text-shadow: 0 1px 0 $white;
    vertical-align: text-top;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}