@charset "utf-8";

article {
    width: 100%;
    max-width: $content_width + $content_padding * 2;
    margin: 0 auto;
    padding: $content_padding;
    line-height: 1.5;

    ul {
        list-style: outside disc;
        padding-left: $section_padding;
        margin: ($section_padding / 2) 0;
    }

    aside {
        margin-bottom: $content_padding;
        overflow: hidden;
        text-align: center;

        .date {
            color: $grey;
            margin: 0 auto;

            &:before,
            &:after {
                content: '';
                display: inline-block;
                width: $content_width / 6;
                height: 1px;
                margin: 0 10px 6px;
                background: $grey_light;
            }
        }
        .update {
            font-size: 80%;
            color: $grey;
            margin-top: 0;
        }
        .tags {
            list-style-type: none;
            padding: 0;
            font-size: 0;
            text-align: center;

            li {
                display: inline;
                font-size: $font_size;
                margin: 0 5px;

                a {
                    text-decoration: none;
                    color: $grey;
                    font-size: 80%;
                    padding: 2px 8px;
                    border: 1px solid;

                    &:hover,
                    &:focus {
                        box-shadow: none;

                        @each $tag, $color in $colors {
                            body[data-color="#{$tag}"] {
                                color: $color;
                            }
                        }
                    }
                }
            }
        }
    }
    .intro {
        margin-top: $content_padding;
        font-weight: 600;
        text-align: center;
    }
    img,
    iframe {
        width: $content_width;
    }
}