@charset "utf-8";

$defaultcolor       : #A56FC0;
$colors: (
  // No tag
  ""                : $defaultcolor,

  // Blue
  "php"             : #7A86B8,
  "css"             : #29A8DF,
  "sql"             : #316071,
  "drupal"          : #008BCA,

  // Green
  "prestashop"      : #71BF45,
  "chrome"          : #4EB447,
  "mathematiques"   : #174531,

  // Yellow
  "js"              : #FEDA3E,

  // Orange
  "sublime-text"    : #FF8100,
  "html"            : #F16528,

  // Red
  "git"             : #F05133,
  "apache"          : #EF0031,

  // Pink
  "sass"            : #CC6698,

  // Purple
  "divers"          : $defaultcolor,
  "regex"           : $defaultcolor,
  "software"        : $defaultcolor,
  "bash"            : $defaultcolor
  );

$white              : #fff;
$grey               : #bbb;
$grey_light         : #eee;
$grey_dark          : #333;

$header_height      : 250px;
$content_width      : 800px;
$content_padding    : 50px;
$section_padding    : 40px;
$tag_height         : 40px;
$tag_width          : 100px;
$font_size          : 22px;

@font-face {
    font-family: "Source Sans Pro ExtraLight";
    src: url('../fonts/SourceSansPro-ExtraLight.eot');
    src: url('../fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-ExtraLight.woff') format('woff'),
         url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
         url('../fonts/SourceSansPro-ExtraLight.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
%font-light {
    font-family: "Source Sans Pro ExtraLight", "Trebuchet MS", sans-serif;
}
%font-regular {
    font-family: "Source Sans Pro ExtraLight", "Trebuchet MS", sans-serif;
    font-weight: 900;
}